<h1>Add Products</h1>
<div class="row bg-light p-5 rounded">
    <div class="col-md-4 ">

        <form [formGroup]="Product" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <div class="form-text text-danger" *ngIf="Name.errors?.['required']">
                    Name is required
                </div>
                <div class="form-text text-danger" *ngIf="Name.errors?.['minlength']">
                    Name is too short
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Cost</label>
                <input type="number" class="form-control" id="cost" formControlName="cost">
                <div class="form-text text-danger" *ngIf="Cost.errors?.['required']">
                    cost is required
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
